{% load static %}
<!-- LOADER -->
   <div id="preloader">
      <div class="loader">
         <img src="{% static 'index/images/loader.gif' %}" alt="#" />
      </div>
   </div>
   <!-- END LOADER -->
         <!-- section -->
         <div class="section about_section layout_padding half_bg_theme padding_bottom_0 " id="about">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <div class="full text_align_right_img">
                        <img class="fm" src="{% static 'index/images/s6.jpg'%}" alt="#" />
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2>Welcome To<br><span class="theme_color">Brutal Sports Academy</span></h2>
                        </div>
                     </div>
                     <div class="full paddding_left_15">
                        <p>Brutal Sports Academy is primarily administrated by a team of Certified coaches, made up of a combination of some legendary Saudi Arabian previous players and international coaches. The team has also acquired the aid of some   inspirationally ambitious freshly starting assistant coaches.
                        <br><br>
                        Skill as well as character matters to us as we build our future champions. Life coaches help shape the personality of our participants to make tomorrow’s athletes. Moreover, we hire specialized dietitians to advise participants on understanding food components, types, and needs.
                        <br><br>
                        We specialize in discovering talents and developing them in different sports games. We distribute our focus on the body and mind health of our young athletes, never forgetting to maintain a healthy balance to create a healthy sport society.
                        <br><br>
                        Brutal Sports Academy aims to construct and sculpt individuals who can justly represent our beloved kingdom and the rest of the Arab world, with skill, determination, and sportsmanship.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end section -->