{% load static %}
<!-- Start Footer -->
         <footer class="footer-box">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 white_fonts">
                     <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-4 mt-4">
                           <h1><strong>&nbsp &nbsp &nbsp B R U T A L</strong></h1>
                           <h3 class="mt-0">Sports &nbsp Academy</h3>
                           <div class="full white_fonts">
                              <p class="mt-0">To demand more of yourself than you do of others is the first step on any ladder of success.</p>
                           </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                           <div class="full">
                              <div class="footer_blog full white_fonts">
                                 <h3>ADDRESS</h3>
                                 <p>Address: 203 B block L.D. Hostel, Navarangpura, Ahmedabad<br>Tel: +91 6359289966<br>Email: dipenpatel2049@gmail.com</p>
                              </div>
                              <div class="full">
                                 <ul class="social_icon">
                                    <li><a href="https://www.facebook.com/dipenpatel2049"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/dipen-jakasaniya-673bab184/"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UC7-x3-WIhx9O8mLV02g1xHQ"><i class="fa fa-youtube-play"></i></a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                           <div class="full">
                              <div class="footer_blog full white_fonts">
                                 <h3>OUR TIMINGS</h3>
                              </div>
                              <div class="full timetable_blog">
                                 <ul class="time_table text_align_left">
                                    <li>Monday</li>
                                    <li>Tuesday</li>
                                    <li>Wednesday</li>
                                    <li>Thursday</li>
                                    <li>Friday</li>
                                    <li>Saturday</li>
                                    <li>Sunday</li>
                                 </ul>
                                 <ul class="time_table text_align_right">
                                    <li>07:00 AM to 10:00 PM</li>
                                    <li>07:00 AM to 10:00 PM</li>
                                    <li>07:00 AM to 10:00 PM</li>
                                    <li>07:00 AM to 10:00 PM</li>
                                    <li>07:00 AM to 10:00 PM</li>
                                    <li class= center>Closed</li>
                                    <li class= center>Closed</li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
         <!-- End Footer -->
         <div class="footer_bottom">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <p class="crp">© Copyrights 2021 design by Dipen Jakasaniya</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>