{% load static %}
<!-- Start Banner -->
         <div class="ulockd-home-slider" id="home">
            <div class="container-fluid">
               <div class="row">
                  <div class="pogoSlider" id="js-main-slider">
                     <div class="pogoSlider-slide fb" style="background-image:url(../static/index/images/s4.jpg);">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="slide_text white_fonts">
                                    <h3>Are you<br><strong class="theme_color">ready to</strong> change?</h3>
                                    <br>
                                    <a class="readmore_bt btn_join" href="{% url 'register' %}">Join Us</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="pogoSlider-slide" style="background-image:url(../static/index/images/s3.jpg);">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="slide_text white_fonts">
                                    <h3>Are you<br><strong class="theme_color">ready to</strong> change?</h3>
                                    <br>
                                    <a class="readmore_bt btn_join" href="{% url 'register' %}">Join US</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- .pogoSlider -->
               </div>
            </div>
         </div>
         <!-- End Banner -->