{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Forget Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="{% static 'login/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css'%}">
    <!-- STYLE CSS -->
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
</head>

<body>
    <div class="wrapper" style="background-image: url('images/bg-registration-form-1.jpg');">
        <div class="inner">
            <div class="image-holder">
                <img src="{% static 'login/images/loginS.png' %}" alt="">
            </div>
            <form action="/forget_password_form" method="POST">
                {% for msg in messages %}
                <div class="alert alert-danger" style="text-align: center; background-color: red; color: white;">
                    <strong>{{msg}}</strong>
                </div>
                {% endfor%} {% csrf_token %}
                <h3>Forget Password</h3>
                <input type="hidden" name="email" value="{{email}}">
                <div class="form-wrapper">
                    <input type="password" name="new_pass" placeholder="New Password" class="form-control">
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <div class="form-wrapper">
                    <input type="password" name="confirm_pass" placeholder="Confirm New Password" class="form-control">
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <div class="form-wrapper">
                    <input type="text" name="otp" placeholder="Enter OTP Sent to Your Email" class="form-control">
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <button>Submit
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
                <hr>
            </form>
        </div>
    </div>
</body>

</html>