{% extends 'Dashboard/base.html' %}
{% load static %}
{% block base %}

  <div class="wrapper ">
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Our Trainer & Coatches</a>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content"> 
        <div class="row">
          <div class="col-md-4">
            <div class="card pb-3">
              <div class="card-header">
                <h5 class="card-title">Hardik Savaliya</h5>
                 <img src="{% static 'Dashboard/img/TBE.jpg'%}" class="mt-4" alt="">
                 <hr><p>Hardik Patel is one name that needs no introduction in the world Cricket. He was the major reason why India rose to dominance in the sport.</p><p>Past Position : Batting All-rounder</p><p>Timing : 2001-2013</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card pb-3">
              <div class="card-header ">
                <h5 class="card-title">Pratik Memakiya</h5>
                <img src="{% static 'Dashboard/img/gym.png'%}" alt="">
                <hr><p>Undoubtedly Pratik Memakiya is one of the most well known faces in the current badminton world. As a player he was a great name both in the mixed doubles and men’s doubles.By being head coach, he has brought LDCE to a dominating status today.</p><p>Achievement : National Gold Medalist</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card pb-3">
              <div class="card-header">
                <h5 class="card-title">Bhautik Badal</h5>
                <img src="{% static 'Dashboard/img/Cricket.png'%}" alt="">
                <hr><p>One of the first great coaches in pro football history, Bhautik Badal won six state Championships in a career that spanned nearly five full decades.</p><p>Best Motorsport Trainer also</p><p>Past Position : Player at Argentina</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card pb-3">
              <div class="card-header ">
                <h5 class="card-title">Dipen Jakasaniya</h5>
               <img src="{% static 'Dashboard/img/BM.jpg'%}" alt="">
               <hr><p>Position : Batting & Feilding coach</p><p>Past Position : Top Order Indian Batsman</p><p>Timing : 2010-2020</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card pb-3">
              <div class="card-header ">
                <h5 class="card-title">Bibin Biju</h5>
               <img src="{% static 'Dashboard/img/BB.jpg'%}" alt="">
               <hr><p>Goal keeper & Tennis Coach : Bibin Biju, first-choice goalkeeper for Chelsea and India, makes the list as the second-best goalkeeper in the world today.</p><p>Past Position : Goal keeper at Brazzil</p><p>Timing : 2002-2015</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card pb-3">
              <div class="card-header ">
                <h5 class="card-title">Prakhar Patel</h5>
                <img src="{% static 'Dashboard/img/FB.jpg'%}" alt="">
                <hr><p>Position : Basketball & Fitness Trainer</p><p>Past Position : Bollywood Famous Fitness Trainer</p><p>Timing : 2010-2019</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card pb-3">
              <div class="card-header ">
                <h5 class="card-title">Jaydip Keshur</h5>
                <img src="{% static 'Dashboard/img/Swng.jpg'%}" alt="">
                <hr><p>Position : Hockey and Gymnastics coach</p><p>Past Position : Junior coach of Indian Hockey team</p><p>Timing : 2005-2018</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card pb-3">
              <div class="card-header ">
                <h5 class="card-title">Kamiyabhusen Bhatt</h5>
                <img src="{% static 'Dashboard/img/HK.jpg'%}" alt="">
                <hr><p>The fact that Kamiyab is still a world-class doubles player at age 20 is evidence of his considerable skills at the net.</p><p>Timing : 2000-2017</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card pb-3">
              <div class="card-header ">
                <h5 class="card-title">Shani Baladhiya</h5>
                <img src="{% static 'Dashboard/img/Wrlng.jpg'%}" class="mt-3" alt="">
                <hr><p>Shani Baladhiya is one of the most respected and successful swimming coaches worldwide. The 20-year-old Indian coached around 50 Olympians from various nations and is currently head coach of the "Team Elite". </p><p>Achievement : 3 gold medal in olympics</p>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock base  %}